/* || General Styles */   /*  */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Create a linear-gradient for the background of the site by using the provided
     colors */
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
}

.component-wrapper {
  /*display: flex;*/
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 0 10px;
  margin-bottom: 10px;
}

/* || Typography */

body {
  font-family: 'Kumbh Sans', sans-serif;  /* apply provided font to all text in page */
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  min-height: 100vh;  /*make sure that the background expands the whole viewing height */
}

/* the below two rules were provided */
.attribution {
  font-size: 11px;
  text-align: center;
}

/* || Text */

h1 {
  text-align: center;
  padding-bottom: 15px;
}

.text-wrapper {
  flex: 1;
  max-height: auto;
}

/* || Accordion Styles */

.item {
  border-bottom: 1px solid hsl(240, 5%, 91%);  /* add border to bottom of accordion item, such that it's still present when the content is displayed too */
}

input {
  display: none;   /* hide the checkboxes */
}

label {
  display: block;
  padding: 8px 0;
  cursor: pointer;
  position: relative;  /* this will allow for the label::after children to be able to use such properties as right, top, left, etc. */
}

label:hover {
  color: hsl(14, 88%, 75%);   /* add proper color to match template when hovering over the question */
}

.item-label {
  padding-top: 15px;
  padding-bottom: 15px;
}

.item-label::after {
  content: '';  /* must be sent to empty in order for the backg image to be visible */
  position: absolute;  /* allows for the image to be positioned relative to its parent (<label>) */
  top: 50%;  /* centers the image vertically from the top */
  transform: translateY(-50%);  /* centers image vertically from the bottom */
  right: 0;  /* matches the side padding of its parent <label> */
  width: 10px;
  height: 10px;
  background-image: url(images/icon-arrow-down.svg);
  background-repeat: no-repeat;
}

.answer {
  padding: 4px 0;
}

input + label + .answer {
  display: none;   /* hide the answers by default */
}

input:checked + label + .answer {
  display: block;  /* when a button has been clicked, display the answer */
}

input:checked + .item-label::after {
  transform: translateY(-50%) rotate(0.5turn);  /* when the button has been clicked, flip the image 180º */
}

/* || Mobile Styles */
@media (max-width: 375px) {
  .component-wrapper {
    display: flex;
    justify-content: center;
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top;
    min-width: 250px;
    max-width: 300px;
    max-height: 530px;
  }

  #mobile {
    transform: translate(-15px, -110px);
  }

  .text-wrapper {
    padding: 0 20px;
  }

  .overlap {
    position: relative;
    bottom: 70px;
  }
}

/* || Footer */

.attribution a {
  color: hsl(228, 45%, 44%);
}
