/* || General Styles */   /*  */

html {
min-height: 100%;  /* make sure that the background expands the whole viewing height */
  /* Create a linear-gradient for the background of the site by using the provided
     colors */
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
}

.component-wrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  /*border: 1px solid black;*/
}

/* || Typography */

body {
  font-family: 'Kumbh Sans', sans-serif;  /* apply provided font to all text in page */
  font-size: 12px;
}

/* the below two rules were provided */
.attribution {
  font-size: 11px;
  text-align: center;
}

/* || Side Illustration */

.illustration-wrapper {
  /*border: 2px dotted blue;*/
}

.at-box {
}

.desktop-img {
}

/* || Header */

h1 {

}

/* || Text */

.text-wrapper {
  /*border: 3px groove red;*/
}



/* || Footer */

.attribution a {
  color: hsl(228, 45%, 44%);
}
